.parallax {
  /* The image used */
  background: url('./project/video.mp4') no-repeat fixed center;
  overflow: hidden;

  /* Full height */
  height: 900px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 {
  /* The image used */
  background: url('./project/video.mp4') no-repeat fixed center;
  overflow: hidden;

  /* Full height */
  height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .content{
    padding-top: 70px;
    padding-left: 160px;
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }

.nav-link {
    color: #fff;
    background-color: #002269;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1 {
  display: inline-flex;
  padding: 7px;
  font-size: 36px;
  background-color: #000;
  color: #fff;
}

.project{
  padding: 10px;
  font-size: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 5px;
  display: block;
  width: 960px;
}

.project-header{
  display: inline-flex;
  padding: 7px;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  background-color: #002269;
}
img { 
	float: right;
	margin: 10px;
}

table, th, td {
  /*display: inline-flex;*/
  padding: 7px;
  font-size: 20px;
  background-color: #000;
  border: 7px solid black;
  color: #fff;
  /*max-width: 50px;*/
  text-align: center;
}

* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}